@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

:root {
  --cor-background: #043a68;
  --cor-background-escuro: #033159;
  --cor-branco: #f9f9f9;
  --cor-cinza-escuro: #212427;
  --cor-cinza-claro: #5f5f5f;
}

ion-content {
  --background: var(--cor-background);
}

/* Hide Scroll Bar */
ion-content::part(scroll) {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}

.login-section {
  margin-top: 9vh;
  gap: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.placeholder-name {
  background: var(--cor-branco);
  width: 90%;
  margin-left: 2.3rem;
  border-radius: 50px;
}

.login-inputs {
  width: 100%;
  padding: 20px;
}

.title {
  font-family: "Syne", sans-serif;
  letter-spacing: 0.224px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.hub-letras {
  color: var(--cor-cinza-escuro);
}

ion-img {
  margin: auto;
  width: 150px;
  height: 150px;
}

ion-item {
  border-radius: 50px;
  margin-bottom: 1rem;
  --background: var(--cor-branco) !important;
  --border-color: transparent;
}

ion-icon {
  color: var(--cor-cinza-escuro);
  width: 25px;
  height: 25px;
}

ion-input {
  color: var(--cor-cinza-claro) !important;
  text-align: center;
  left: -1.9vh;
  transform: none !important;
  --highlight-color-focused: transparent;
}

ion-button {
  --background: var(--cor-cinza-escuro);
  color: var(--cor-branco);
  display: flex;
  flex-direction: column;
  max-width: 50%;
  height: 3rem;
  text-transform: capitalize;
  letter-spacing: 0.208px;
  margin: 1rem auto 1rem auto;
}

ion-button ion-icon {
  color: var(--cor-branco);
  margin-right: 1rem;
}

/* Topic's Section */

.topicos-section {
  background-color: var(--cor-branco);
  height: 100%;
}

ion-item:hover, 
ion-card:hover,
ion-chip:hover {
  pointer-events: none !important;
}
.pesquisar {
  height: 30%;
  background-color: var(--cor-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icone {
  margin-bottom: 1rem;
}

.container-pesquisar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.menuicon {
  color: var(--cor-branco);
  background-color: var(--cor-background-escuro) !important;
  border-radius: 50px;
}


/* Chat's Section */

ion-list {
  background-color: var(--cor-branco) !important;
  border-bottom: 1px solid #cfcfcf;
}

.topic-message {
  color: var(--cor-cinza-escuro) !important;
}

.topic-name {
  font-weight: bold !important;
  color: var(--cor-cinza-escuro);
}

/* Full-Screen Chat View */

.chat-view {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ion-toolbar {
  display: flex;
  justify-content: space-between; /* Align items at both ends */
  align-items: center; /* Vertically center */
}

ion-header {
  background-color: var(--cor-background) !important;
}

ion-title {
  flex: 1;
  text-align: center;
  font-size: 1.5rem;
  color: var(--cor-branco);
  text-overflow: ellipsis; /* Handle long titles */
  margin-bottom: 1rem;
}

.sizeofmessage {
  font-size: 12px !important;
}

/* Ensure IonButtons stay left */
ion-buttons {
  margin-left: 0;
}

.chat-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  --background: url(/bg-chat.png) no-repeat center center !important;
  background-size: cover !important;
}

/* Messages list */
.messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Each individual message */
.message {
  max-width: 70%;
  margin: 10px 0 -10px;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: var(--cor-branco) !important;
  color: var(--cor-cinza-escuro) !important;
  align-self: flex-start;
}


/* Align outgoing messages to the right */
.message-sent {
  align-self: flex-end;
  background-color: #0d6efd !important;
  color: var(--cor-branco) !important;
}

/* Align incoming messages to the left */
.message-received {
  align-self: flex-start;
  background-color: var(--cor-branco) !important;
  color: var(--cor-cinza-escuro) !important;
}

/* Message input area */
.message-input-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--cor-branco);
  border-top: 1px solid var(--cor-branco);
}

/* Input field */
.input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  margin-left: 1.5rem;
  background-color: #e7e7e7;
  margin-right: 10px;
}

/* Send button (paper plane icon) */
ion-fab-button {
  border-radius: 50%;
  margin-right: 1.5rem;
  width: 50px;
  height: 40px;
  --background: var(--cor-branco);
}

/* Footer */
ion-footer {
  background-color: var(--cor-branco);
  border-top: 1px solid var(--cor-branco);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topic-name p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  margin-left: auto; 
}

/* Loading */

.loading-popup {
  --width: 100%;
  --height: 100%;
  --background: var(--cor-background);
  --border-radius: 0;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #ffffff;
  font-size: 1.2rem;
}

/* Create Topics */

.custom-modal {
  --background: var(--cor-background);
  --width: 90%;
  --height: auto; 
  --border-radius: 10px; 
  --box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); 
  justify-content: center;
  align-items: center;
}

.custom-modal .modal-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.custom-modal h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  margin-right: 2rem;
  color: var(--cor-branco);
}

.custom-modal ion-input {
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  --background: var(--cor-branco);
  color: var(--cor-cinza-claro);
}

.native-input.sc-ion-input-md {
  text-align: center !important;
  margin-left: 1rem;
}

.custom-modal ion-button {
  width: 100%;
  margin-top: 0.5vh;
  margin-left: 6vh;
  --border-radius: 50px;
  font-size: 16px;
}

.custom-modal ion-button:last-child {
  color: var(--cor-branco);
}

.custom-modal ion-button:first-child {
  color: var(--cor-branco);
}

/* Search Section */

.search-container {
  position: relative;
  width: 100%;
  max-width: 290px;
  margin: 0 auto;
}

.search-bar {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  --border-radius: 20px;
  --background: var(--cor-branco);
  width: 95%;
}

.dropdown-content {
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  margin-right: 2rem;
  margin-left: -.9rem;
  max-height: 300px;
  overflow-y: scroll;
  border-radius: 4px;
  color: var(--cor-cinza-escuro) !important;
}

.dropdown-content::-webkit-scrollbar {
  width: 6px;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.dropdown-content .ion-item {
  font-size: 16px;
}

.dropdown-content .ion-item:hover {
  background-color: #f1f1f1;
}

.result-topic {
  font-size: 15px;
  margin: 1rem;
  margin-top: 2rem;
  color: var(--cor-cinza-escuro);
}

/* Mobile View Force */

.mobile-wrapper {
  margin-top: 1rem !important;
  width: 450px;
  height: 900px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 4); 
  border-radius: 50px !important;
  overflow: hidden;
}

.mobile-content {
  height: 100%;
  overflow-y: auto;
}

body, html {
  background-color: var(--cor-branco);
  height: 100%;
  margin: 0;
  display: block;
}

@media (max-width: 768px) {
  .mobile-wrapper {
    margin-top: 0rem !important;
    border-radius: 0px; 
    width: 100vw; 
    position: relative;
    overflow: hidden;  
    border-radius: 0px !important;
  }

  .container-pesquisar { 
    width: 80%;
    margin-left: 1rem;
  }
}

@media (min-width: 900px) {
  .mobile-wrapper {
    margin-top: -1rem !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .ion-popover {
    --offset-x: -870px !important;
    --offset-y: -50px !important;
  }

  ion-footer {
    padding-bottom: 9rem;
  }
  
}











