@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

:root {
  --cor-background: #043a68;
  --cor-background-escuro: #033159;
  --cor-branco: #f9f9f9;
  --cor-cinza-escuro: #212427;
  --cor-cinza-claro: #5f5f5f;
}

ion-content {
  --background: var(--cor-background);
}

.login-section {
  margin-top: 5vh;
  gap: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-inputs {
  width: 100%;
  padding: 20px;
}

.title {
  font-family: "Syne", sans-serif;
  letter-spacing: 0.224px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.hub-letras {
  color: var(--cor-cinza-escuro);
}

ion-img {
  margin: auto;
  width: 150px;
  height: 150px;
}

ion-item {
  border-radius: 50px;
  margin-bottom: 1rem;
  --background: var(--cor-branco) !important;
  --border-color: transparent;
}

ion-icon {
  color: var(--cor-cinza-escuro);
  width: 25px;
  height: 25px;
}

ion-input {
  color: var(--cor-cinza-claro) !important;
  text-align: center;
  left: -1.9vh;
  transform: none !important;
  --highlight-color-focused: transparent;
}

.esqueceu-senha {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--cor-branco);
  padding-top: 1rem;
  padding-bottom: 1rem;
  letter-spacing: 0.208px;
}

ion-button {
  --background: var(--cor-cinza-escuro);
  color: var(--cor-branco);
  display: flex;
  flex-direction: column;
  max-width: 50%;
  height: 3rem;
  text-transform: capitalize;
  letter-spacing: 0.208px;
  margin: 1rem auto 1rem auto;
}

ion-button ion-icon {
  color: var(--cor-branco);
  margin-right: 1rem;
}

/* Topic's Section */

.topicos-section {
  background-color: var(--cor-branco);
  height: 100%;
}

.pesquisar {
  height: 30%;
  background-color: var(--cor-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.icone {
  margin-bottom: 1rem;
}

.container-pesquisar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.rounded-searchbar {
  --border-radius: 20px;
  --background: var(--cor-branco);
  color: var(--cor-cinza-escuro);
  width: 80%;
}

.menuicon {
  color: var(--cor-branco);
  background-color: var(--cor-background-escuro) !important;
  border-radius: 50px;
}

.searchbar-input {
  font-size: 15px !important;
}

/* Chat's Section */

.chat {
  border: 1px solid var(--cor-cinza-escuro);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 12px;
  background-color: var(--cor-branco);
}






